


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;

}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram {
    display:flex;
    align-items: center; /*na linha vertical ele fica no centro*/
    justify-content: start; /*começar da direita para esquerda*/
    width: 60%; /*tamanho do contente dentro body*/
    height: 100vh; /*altura*/
}
.inst-telefone {
display: flex;
align-items: center;
justify-content: center;
width: 50%;
}

.inst-telefone img {
    height: 50rem;
  

}

.inst-continue {
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    margin-top: 2%;
}

.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
    padding: 1rem ;
    border: 1px solid lightgray;

   
}

.group:nth-child(1) { /*esse pega os elementos do grupo por parte na ordem que estão*/
    min-height: 19rem;

}


.inst-logo {
    height: 4rem;
    margin: 4%;
}

.grupo-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
    padding: 1rem;
    border: 1px solid lightgray;
    margin-top: 2%;

}
.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    overflow: hidden;
    margin: 5px;
}

.foto-perfil img {
    height: 8rem;


  
}

.inst-login {
    background-color: palevioletred;
    color:#ffffff;
    padding: 8px;
    border-radius:4px;
    margin: 10px;

}

.inst-logout {
    color:palevioletred;
    padding-top: 0;
   padding-bottom: 7%;
    font-weight: bolder;
    margin-top: 15px;
}

.not-account {
    color: rgb(160,160,160);
    font-size: 15px;
    

}

.link {
    color:#0095F6;
    font-size: 1.2rem;
    font-weight: bolder
    
  
    
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:95%;
    padding: 1.3rem 0;
    margin-top: none;
  
}

.get-app {

    margin: 3%;
    margin-top: 7%;
    font-size: 15px;
}

.download{
   display: flex;
   width: 100%;
   justify-content:space-evenly;
   align-items: center;
   padding: 1rem;
  
 
}

.app-download {
    height: 3.5rem;
    width: 12rem;
    background-size:cover;

}

.app-download:nth-child(1) {
    background-image: url('./img/store.png');


}

.app-download:nth-child(2) {
    background-image: url('./img/play.png');
}


@media (max-width: 1024px) {
    .instagram {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram {
        width: 100%;
    }

    .inst-telefone {
        display: none;
    }

    .inst-continue {
        width: 100%;
    }
    
    .grupo {
        border: 1px solid transparent;
    }
}
